body {
  font-size: 14px;
  color: #414345;
  background-color: #dfe0e1;
  font-weight: 400;
  letter-spacing: 1px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
}

.slides-navigation {
  z-index: 5;
}

.slides-navigation a.prev {
  left: 20px;
}

.slides-navigation a.next {
  right: 20px;
}

.title-message {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 4;
  text-align: center;
  margin-top: -125px;
}

.title-message .heading p {
  color: #ffffff;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  font-weight: 200;
  letter-spacing: 7px;
}

.title-message .heading .main-title {
  font-size: 50px;
}

.title-message .heading .subtitle {
  font-size: 23px;
}

.section {
  padding: 100px 0;
}

.about-image {
  max-width: 100%;
}

.skills-section {
  background-color: #648C9C;
  color: #ffffff;
}


/* .navbar-flat { background: #d82c2e; margin-bottom: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
.navbar-flat .navbar-collapse { text-align: center; }
.navbar-flat .navbar-toggle .icon-bar { background: white; }
.navbar-flat ul { float: none; }
.navbar-flat li { display: inline-block; float: none; }
.navbar-flat li a:hover { background: #c12728; color: white; }
.navbar-flat li a:focus { background: #c12728; color: white; }
.navbar-flat li.active a { background: #c12728; color: white; }
.navbar-flat a { font-family: "Lato", sans-serif; font-weight: 700; color: #f7f8f8; -webkit-transition: all 0.3s ease-in, 1s; -moz-transition: all 0.3s ease-in, 1s; -o-transition: all 0.3s ease-in, 1s; -ms-transition: all 0.3s ease-in, 1s; transition: all 0.3s ease-in, 1s; }
.navbar-flat .navbar-brand { display: none; } */
